@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #000;
}

nav {
  text-align: center;
  padding: 2rem 0;
}

header {
  display: flex;
}

.header-image img {
  width: 100%;
}

.header-text {
  text-align: center;
  padding: 2rem 2rem 0;
}

.header-text h1 {
  font-weight: bolder;
  font-size: 2.5rem;
}

.header-text p {
  margin-bottom: 2rem;
}

.header-text button {
  padding: 1rem 2rem;
  color: #fff;
  border-style: none;
  border-radius: 5rem;
}

.button-1 {
  background-color: #4892a6;
}

.button-2 {
  background-color: #8460b3;
}

.button-1:hover,
.button-2:hover {
  color: #0d0d0d;
  border: 1px double #000;
  outline: 1px solid #000;
  padding: 10px 1rem;
  background-color: #fff;
}

.pendulum {
  margin-bottom: 2rem;
  text-align: center;
}

.pendulum .vertical-line {
  border-right: 1px inset #9c9999b9;
  height: 50px;
  width: 50%;
  margin: 2rem 0 0.5rem;
}

.pendulum span {
  border: 1px solid #9d9b9bb9;
  border-radius: 5rem;
  color: grey;
  padding: 8px;
}

.all-images {
  display: grid;
  column-gap: 8px;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.all-images img {
  width: 100%;
  border-radius: 5px;
}

article {
  text-align: center;
}

article h5 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #4892a6;
}

article h1 {
  font-weight: bolder;
  font-size: 2rem;
}

article p {
  padding: 0 25rem;
  color: grey;
}

footer {
  /* background-color: #5594a3; */
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 3rem;
  /* border: 3rem solid #5594a3; */
  /* background-image: url(./assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-image: linear-gradient(
      rgba(72, 146, 166, 0.8),
      rgba(72, 146, 166, 0.8)
    ),
    url(./assets/desktop/image-footer.jpg);
}

footer p {
  text-align: center;
  color: #fff;
  padding: 0 5rem;
}

.footer-button {
  background-color: #8460b3;
  padding: 1rem 2rem;
  color: #fff;
  border-style: none;
  border-radius: 5rem;
}

/* @media (min-width: 785px) {
  .header-image .header-text {
    background: linear-gradient(rgba(19, 18, 18, 0.8), rgba(19, 18, 18, 0.8)),
      url(./assets/tablet/image-hero.png);
    color: #fff;
    padding: 1rem;
  }

  .all-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
  }

  .button {
    display: flex;
    padding: 1rem;
  }

  .all-images img {
    border-radius: 1rem;
  }
} */

@media (max-width: 576px) {
  .header-image {
    display: none;
  }

  header {
    text-align: center;
  }

  .header-text button {
    display: block;
    margin: auto;
    border-radius: 4px;
  }

  .button-2 {
    margin-top: 4rem;
  }

  .all-images {
    display: block;
  }

  article p {
    display: none;
  }

  footer {
    display: none;
  }
}

@media (min-width: 991px) {
  header {
    background-image: linear-gradient(
        rgba(42, 43, 43, 0.8),
        rgba(42, 43, 43, 0.8)
      ),
      url(./assets/desktop/image-hero-left.png);
    text-align: center;
  }

  .header-image {
    display: none;
  }

  .header-text {
    padding-bottom: 1rem;
    padding-left: 6rem;
    color: #fff;
  }
  .all-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }

  article p {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  footer p {
    display: block;
  }

  .footer-button {
    border-radius: 0;
    border-style: none;
  }
}
